<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <img src="assets/logo/logo-white.png">
    </ion-row>
    <div class="center-content">
      <ion-row>
        <ion-col>
          <h1>Welcome</h1>
          <span>Let's meet your mood buddy!</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-button
            [routerLink]="['/register']"
            expand="block">Register</ion-button>
          <ion-button
            [routerLink]="['/login']"
            expand="block">Login</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
