<ion-content>
  <ion-grid>
    <ion-row>
      <img src="assets/logo/logo-white.png">
    </ion-row>
    <div class="center-content">
      <ion-row>
        <h1>Verify your email</h1>
        <span>
        Please check your email and click on the link to verify your email address.
      </span>
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-button type="submit"
                      (click)="authService.SendVerificationMail()"
                      color="danger"
                      expand="block">Resend Verification Email
          </ion-button>
          <ion-button [routerLink]="['/login']"
                      expand="block">Login</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
