<ion-content>
  <ion-grid>
    <ion-row>
      <img src="assets/logo/logo-white.png">
    </ion-row>
    <div class="center-content">
      <ion-row>
        <ion-col>
          <h1>Let's create your <br> account!</h1>
        </ion-col>
      </ion-row>
      <form>
        <ion-item class="box" lines="none">
          <ion-input type="text"
                     placeholder="Name"
                     #name
                     required="true"></ion-input>
        </ion-item>
<!--        <ion-item lines="none" *ngIf="!name.value && name.ionBlur">-->
<!--          <ion-note color="danger">Please input valid name.</ion-note>-->
<!--        </ion-item>-->
        <br>
        <ion-item class="box" lines="none">
          <ion-input type="email"
                     placeholder="Email"
                     #email
                     required="true"></ion-input>
        </ion-item>
<!--        <ion-item lines="none" *ngIf="!email.value">-->
<!--          <ion-note color="danger">Please input valid email.</ion-note>-->
<!--        </ion-item>-->
        <br>
        <ion-item class="box" lines="none">
          <ion-input type="password"
                     placeholder="Password"
                     #password
                     required="true"></ion-input>
        </ion-item>
        <br>
        <ion-item class="box" lines="none">
          <ion-input type="password"
                     placeholder="Confirm password"
                     #confirmpassword
                     required="true"></ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="confirmpassword.ionFocus && confirmpassword.value != password.value">
          <p color="danger">Password didn't match.</p>
        </ion-item>
        <!--    <ion-item lines="full">-->
        <!--      <ion-label position="floating">Confirm Password</ion-label>-->
        <!--      <ion-input type="password" required></ion-input>-->
        <!--    </ion-item>-->
        <ion-row>
          <ion-col>
            <ion-button type="submit"
                        expand="block"
                        [disabled]="!name.value || !email.value || !password.value || !confirmpassword.value"
                        (click)="signUp(email, password, name)">Register</ion-button>
          </ion-col>
        </ion-row>
      </form>
      <ion-row>
        <ion-text>Already have an account? <b><a [routerLink]="['/login']">Login</a></b></ion-text>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
