<ion-header>
  <ion-toolbar>
    <ion-title>
      Mood Journal
    </ion-title>
    <!-- Button go to statistic menu -->
    <ion-buttons slot="end">
      <ion-button (click)="GoToStatisticPage()">Statistic</ion-button>
    </ion-buttons>
    <!-- Button go to timeline mood record -->
    <ion-buttons slot="start">
      <ion-button (click)="GoToTimelinePage()">Timeline</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Filter Date -->
<!--  <ion-input id="currDate"-->
<!--             [(ngModel)]="dateNumber"-->
<!--             value="{{date| date: 'MMMM YYY' }}"></ion-input>-->
<!--  <ion-popover trigger="currDate"-->
<!--               triggerAction="click">-->
<!--    <ng-template>-->
<!--      <ion-datetime presentation="month-year"-->
<!--                    [(ngModel)]="date"-->
<!--                    (ionChange)="ApplyDateFilter(date)">-->
<!--      </ion-datetime>-->
<!--    </ng-template>-->
<!--  </ion-popover>-->


<!--  Calendar  -->
<!--  <ion-segment [(ngModel)]="calendar.mode">-->
<!--    <ion-segment-button value="month">-->
<!--      <ion-label>Month</ion-label>-->
<!--    </ion-segment-button>-->
<!--    <ion-segment-button value="week">-->
<!--      <ion-label>Week</ion-label>-->
<!--    </ion-segment-button>-->
<!--    <ion-segment-button value="day">-->
<!--      <ion-label>Day</ion-label>-->
<!--    </ion-segment-button>-->
<!--  </ion-segment>-->

  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8" class="ion-text-center">
      <h2>{{ viewTitle }}</h2>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <!--
  eventSource: The array of events which will be displayed
  calendarMode: The view mode
  currentDate: The today date
  onEventSelected: Called when we click on a day with event
  onTitleChanged: Triggered when we change the view
  start/step: Additional settings for the different views -->

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    startHour="6"
    endHour="20"
    step="30"
    startingDayWeek="1"
    [monthviewDisplayEventTemplate]="monthviewDisplayEventTemplate"
    [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate"
  >
  </calendar>

<!--  Display Event Template -->
  <ng-template #monthviewDisplayEventTemplate let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator {{e.title}}" *ngFor="let e of view.dates[row*7+col].events">
<!--          <ion-button (click)="cek(e.title)"></ion-button>-->
        </div>
      </div>
    </div>
  </ng-template>

<!--  Event Detail Template-->
  <ng-template #monthviewDefaultEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <div class="event-detail-container" has-bouncing="false" overflow-scroll="false">
      <ion-card class="card-journal" *ngFor="let event of selectedDate?.events">
        <ion-row>
          <ion-col size="3">
            <div class="container-image event-detail">
              <img class="img-mood-icon" src="assets/mood-icon/{{event.title}}.png">
              <ion-text class=" text-time monthview-eventdetail-timecolumn"
                        *ngIf="!event.allDay">{{event.startTime | date: 'HH:mm'}}</ion-text>
            </div>
          </ion-col>
          <ion-col size="9">
            <div *ngFor="let mood of moodList">
              <div *ngIf="(event.startTime | date: 'MMM, dd yyy | HH:mm') == (mood.date | date: 'MMM, dd yyy | HH:mm')">
                <ion-text class="text-mood">{{mood.currentMood}}</ion-text>
                <br>
                <ion-text class="text-label">What you felt:</ion-text>
                <br>
                <ion-row>
                  <ion-col size="auto" *ngFor="let feeling of mood.currentFeeling">
                    <ion-card class="card-feelings">{{feeling}}</ion-card>
                  </ion-col>
                </ion-row>
                <ion-text class="text-label">Things that made you felt this way:</ion-text>
                <br>
                <ion-row>
                  <ion-col size="3" *ngFor="let activity of mood.activities">
                    <div class="text-activity">
                      <img class="img-activity-icon" src="assets/activities-icon/{{activity}}.png">
                      <br>
                      <ion-text>{{activity}}</ion-text>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-text style="font-size: 15px; font-weight: bold;">Notes:</ion-text>
                <br>
                <ion-text lines="none">{{mood.notes}}</ion-text>
                <br>
                <!-- Button Edit & Delete Mood-->
                <ion-button size="small"
                            (click)="UpdateMood(event.id, mood.moodId, mood.date, mood.currentMood,
                                      mood.currentFeeling, mood.activities, mood.notes)">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button size="small"
                            color="danger"
                            (click)="DeleteMood(event.id, mood.moodId)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <!--        </ion-card>-->
    <ion-item lines="none" *ngIf="selectedDate?.events.length==0">
      <div class="no-events-label">There's no mood record!</div>
    </ion-item>
<!--    <ion-card>-->
<!--      <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">-->
<!--        <ion-item *ngFor="let event of selectedDate?.events">-->
<!--          <ion-list>-->
<!--            <ion-item class="event-detail">-->
<!--              &lt;!&ndash;              <h1><b>{{event.title}}</b></h1>&ndash;&gt;-->
<!--              <img src="assets/mood-icon/{{event.title}}.png">-->
<!--            </ion-item>-->
<!--            <ion-item class="monthview-eventdetail-timecolumn"-->
<!--                      *ngIf="!event.allDay">{{event.startTime | date: 'HH:mm'}}-->
<!--            </ion-item>-->
<!--          </ion-list>-->
<!--          <ion-card>-->
<!--            <div *ngFor="let mood of moodList">-->
<!--              <ion-item *ngIf="(event.startTime | date: 'MMM, dd yyy | HH:mm') == (mood.date | date: 'MMM, dd yyy | HH:mm')">-->
<!--                <ion-list>-->
<!--                  <ion-item>{{mood.currentMood}}</ion-item>-->
<!--                  <ion-item>What you felt:</ion-item>-->
<!--                  <ion-item><b>{{mood.currentFeeling}}</b></ion-item>-->
<!--                  <ion-item>Things that made you felt this way:</ion-item>-->
<!--                  <ion-item><b>{{mood.activities}}</b></ion-item>-->
<!--                  <ion-item>Notes:</ion-item>-->
<!--                  <ion-item><b>{{mood.notes}}</b></ion-item>-->
<!--                  <ion-item>-->
<!--                    &lt;!&ndash; Button Edit & Delete Mood&ndash;&gt;-->
<!--                    <ion-button (click)="UpdateMood(event.id, mood.moodId, mood.date, mood.currentMood,-->
<!--                               mood.currentFeeling, mood.activities, mood.notes)">Edit-->
<!--                    </ion-button>-->
<!--                    <ion-button size="small"-->
<!--                                color="danger"-->
<!--                                (click)="DeleteMood(event.id, mood.moodId)">-->
<!--                      <ion-icon name="trash-outline"></ion-icon>-->
<!--                    </ion-button>-->
<!--                  </ion-item>-->
<!--                </ion-list>-->
<!--              </ion-item>-->
<!--            </div>-->
<!--          </ion-card>-->
<!--        </ion-item>-->
<!--        <ion-item *ngIf="selectedDate?.events.length==0">-->
<!--          <div class="no-events-label">There's no mood record!</div>-->
<!--        </ion-item>-->
<!--      </ion-list>-->
<!--    </ion-card>-->


<!--    <ion-item-sliding>-->
<!--        <ion-card class="card-journal">-->

<!--      <ion-item-options side="start">-->
<!--        <ion-item-option>-->
<!--          <ion-icon name="create-outline"></ion-icon>-->
<!--        </ion-item-option>-->
<!--      </ion-item-options>-->
<!--      <ion-item-options side="end">-->
<!--        <ion-item-option color="danger">-->
<!--          <ion-icon name="trash-outline"></ion-icon>-->
<!--        </ion-item-option>-->
<!--      </ion-item-options>-->
<!--    </ion-item-sliding>-->
  </ng-template>
  <div style="padding-bottom: 500px;"></div>
</ion-content>
