<ion-header>
  <ion-toolbar>
    <ion-title>
      Mood Journal
    </ion-title>
    <!-- Button go to statistic menu -->
    <ion-buttons slot="end">
      <ion-button (click)="GoToStatisticPage()">Statistic</ion-button>
    </ion-buttons>
    <!-- Button go to timeline mood record -->
    <ion-buttons slot="start">
      <ion-button (click)="GoToTimelinePage()">Timeline</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Filter Date -->
<!--  <ion-input id="currDate"-->
<!--             [(ngModel)]="dateNumber"-->
<!--             value="{{date| date: 'MMMM YYY' }}"></ion-input>-->
<!--  <ion-popover trigger="currDate"-->
<!--               triggerAction="click">-->
<!--    <ng-template>-->
<!--      <ion-datetime presentation="month-year"-->
<!--                    [(ngModel)]="date"-->
<!--                    (ionChange)="ApplyDateFilter(date)">-->
<!--      </ion-datetime>-->
<!--    </ng-template>-->
<!--  </ion-popover>-->


<!--  Calendar  -->
<!--  <ion-segment [(ngModel)]="calendar.mode">-->
<!--    <ion-segment-button value="month">-->
<!--      <ion-label>Month</ion-label>-->
<!--    </ion-segment-button>-->
<!--    <ion-segment-button value="week">-->
<!--      <ion-label>Week</ion-label>-->
<!--    </ion-segment-button>-->
<!--    <ion-segment-button value="day">-->
<!--      <ion-label>Day</ion-label>-->
<!--    </ion-segment-button>-->
<!--  </ion-segment>-->

  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8" class="ion-text-center">
      <h2>{{ viewTitle }}</h2>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <!--
  eventSource: The array of events which will be displayed
  calendarMode: The view mode
  currentDate: The today date
  onEventSelected: Called when we click on a day with event
  onTitleChanged: Triggered when we change the view
  start/step: Additional settings for the different views -->

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    startHour="6"
    endHour="20"
    step="30"
    startingDayWeek="1"
    [monthviewDisplayEventTemplate]="monthviewDisplayEventTemplate"
    [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate"
  >
  </calendar>

<!--  Display Event Template -->
  <ng-template #monthviewDisplayEventTemplate let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
  </ng-template>

<!--  Event Detail Template-->
  <ng-template #monthviewDefaultEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
        <ion-item *ngFor="let event of selectedDate?.events">
          <ion-list>
            <ion-item class="event-detail">
              <h1><b>{{event.title}}</b></h1>
            </ion-item>
            <ion-item class="monthview-eventdetail-timecolumn"
                      *ngIf="!event.allDay">{{event.startTime | date: 'HH:mm'}}
            </ion-item>
          </ion-list>
          <ion-card>
            <div *ngFor="let mood of moodList">
              <ion-item *ngIf="(event.startTime | date: 'MMM, dd yyy | HH:mm') == (mood.date | date: 'MMM, dd yyy | HH:mm')">
                <ion-list>
                  <ion-item>What you felt:</ion-item>
                  <ion-item><b>{{mood.currentFeeling}}</b></ion-item>
                  <ion-item>Things that made you felt this way:</ion-item>
                  <ion-item><b>{{mood.activities}}</b></ion-item>
                  <ion-item>Notes:</ion-item>
                  <ion-item><b>{{mood.notes}}</b></ion-item>
                  <ion-item>
                    <!-- Button Edit & Delete Mood-->
                    <ion-button (click)="UpdateMood(event.id, mood.moodId, mood.date, mood.currentMood,
                               mood.currentFeeling, mood.activities, mood.notes)">Edit
                    </ion-button>
                    <ion-button size="small"
                                color="danger"
                                (click)="DeleteMood(event.id, mood.moodId)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-list>
              </ion-item>
            </div>
          </ion-card>
        </ion-item>
      <ion-item *ngIf="selectedDate?.events.length==0">
        <div class="no-events-label">There's no mood record!</div>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
