ion-content {
  --background: url("../../../../src/assets/background/landing-page.svg") no-repeat center/cover fixed;
}

ion-toolbar {
  --background: transparent;
  --min-height:100px!important;
}

ion-title {
  font-weight: bold;
  font-size: 12px;
}

ion-text {
  color: white;
}

ion-card-title {
  color: white;
  font-weight: bolder;
  font-size: 22px;
}

ion-card-subtitle {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

ion-button {
  --background: transparent;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: #B7ABFB;
  --min-height:50px!important;
  --color: white;
}

.card-level {
  background: #B7ABFB;
  color: white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-top: 2px;
  left: 7px;
  float: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
  font-weight: bold;
  position: fixed;
}

.card-date {
  background: #B7ABFB;
  color: white;
  border-radius: 10px;
  padding: 5px;
  width: 175px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 23px;
  right: 0;
  left: 0;
  float: top;
  display: block;
  justify-content: center;
}

.card-coin {
  background: #B7ABFB;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  padding-top: 13px;
  padding-right: 5px;
  position: fixed;
  float: right;
  display: block;
  top: -25px;
  right: -15px;
}

.text-coin {
  text-align: right;
  font-weight: bolder;
}

.img-coin {
  margin-left: 5px;
  margin-top: -5px;
  width: 30px;
  height: 100%;
  float: left;
  //position: fixed;
}

.img-reward-before {
  width: 40px;
  height: 40px;
  filter: brightness(1.8) grayscale(1) opacity(.7);
}

.img-reward-after {
  width: 40px;
  height: 40px;
}

.card-greeting {
  background: #B7ABFB;
  color: white;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  height: 80px;
  margin-left: 0;
  float: left;
  position: static;
}

.card-badge {
  background: #B7ABFB;
  color: white;
  border-radius: 10px;
  right: -65px;
  width: 42px;
  height: 35px;
  float: right;
  position: relative;
}

.img-badge {
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7px;
  padding-top: 3px;
}

.text-badge {
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

.img-mood-card {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;
  position: center;
  padding-top: 14px;
}

.text-mood-card {
  margin: 14px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: -2px 2px 7px grey;
}

.img-buddy {
  margin-top: 285px;
  width: 182px;
  height: 182px;
  float: left;
  position: relative;
}

.img-gif-face {
  margin-top: 327.5px;
  width: 83px;
  height: 40px;
  left: 47.5px;
  float: left;
  position: absolute;
}

.img-collar {
  margin-top: 395px;
  width: 85px;
  height: 25px;
  left: 48px;
  float: left;
  position: absolute;
}

.img-glasses {
  margin-top: 341px;
  width: 85px;
  height: 40px;
  left: 46px;
  float: left;
  position: absolute;
}

.img-bows {
  margin-top: 295px;
  width: 85px;
  height: 45px;
  left: 48px;
  float: left;
  position: absolute;
}

.img-hats {
  margin-top: 285px;
  width: 85px;
  height: 50px;
  left: 48px;
  float: left;
  position: absolute;
}

.img-parent {
  position: relative;
  top: 0;
  left: 0;
}

.img-house {
  width: 230px;
  height: 230px;
  margin-top: 190px;
  right: -5px;
  float: right;
  position: fixed;
}

.img-toy-left {
  width: 50px;
  height: 50px;
  margin-top: 425px;
  float: left;
  position: fixed;
}

.img-shadow-toy-left {
  width: 50px;
  height: 20px;
  margin-top: 460px;
  float: left;
  position: fixed;
}

.img-toy-middle {
  width: 50px;
  height: 50px;
  margin-top: 425px;
  right: 85px;
  float: left;
  position: fixed;
}

.img-shadow-toy-middle {
  width: 50px;
  height: 20px;
  margin-top: 460px;
  right: 85px;
  float: left;
  position: fixed;
}

.img-toy-right {
  width: 50px;
  height: 50px;
  margin-top: 425px;
  left: 335px;
  float: right;
  position: fixed;
}

.img-shadow-toy-right {
  width: 50px;
  height: 20px;
  margin-top: 460px;
  left: 335px;
  float: right;
  position: fixed;
}
