<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-card class="card-level">
        <ion-text style="font-size: 10px;">Lv </ion-text>
        <ion-text style="font-size: 28px;">{{levels}}</ion-text>
      </ion-card>
    </ion-buttons>
    <!--      <ion-progress-bar mode="determinate">{{points}}</ion-progress-bar>-->
    <ion-card class="ion-text-center card-date">
      <ion-title size="small">{{dayName}}</ion-title>
      <ion-title size="small">{{currentDate | date: 'dd MMMM yyy'}}</ion-title>
    </ion-card>
    <ion-buttons slot="end">
      <ion-card class="card-coin">
        <img src="assets/icon/coin.svg" class="img-coin">
        <ion-text class="text-coin">{{coins}}</ion-text>
      </ion-card>
    </ion-buttons>
  </ion-toolbar>

  <ion-row>
    <ion-col>
      <ion-card class="card-greeting">
        <ion-card-title class="ion-text-capitalize">Hello, {{displayName}}!</ion-card-title>
        <ion-card-subtitle>
          Buddy wants to know, how was your day?
        </ion-card-subtitle>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-row>
        <ion-card class="card-badge" (click)="GoToBadgesPage()">
          <img src="assets/icon/badge.png" class="img-badge">
        </ion-card>
      </ion-row>
      <ion-row>
        <ion-card class="card-badge">
<!--          <ion-button id="open-modal">-->
            <img id="open-modal" src="assets/icon/treasure-chest.png" class="img-badge">
<!--          </ion-button>-->
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Daily Rewards</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-list>
          <ion-item *ngFor="let dailyr of dailyRewardlist">
            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{dailyr.name_reward}}</h2>
              <p>Reward: {{dailyr.reward_coins}}</p>
            </ion-label>
            <img *ngIf="dailyr.claim_reward == true"
                 src="assets/icon/done.png"
                 class="img-reward-after">
            <img *ngIf="dailyr.claim_reward == false"
                 src="assets/icon/done.png"
                 class="img-reward-before">
          </ion-item>
          <ion-button *ngIf="checkInClaim == false"> Claim </ion-button>
          <div *ngIf="checkInClaim == true">
            <ion-text>Come Back Tomorrow!</ion-text> <br>
            <ion-button [disabled]="checkInClaim == true">Claim</ion-button>
          </div>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-col size="auto" *ngFor="let mood of Mood">
    <img src="{{mood.moodImg}}" class="img-mood-card" (click)="GoToAddMoodPage()">
  </ion-col>
  <ion-col size="auto" *ngFor="let mood of Mood">
    <ion-text class="text-mood-card">{{mood.moodName}}</ion-text>
  </ion-col>

  <ion-col>
    <div class="img-parent">
      <div *ngFor="let skin of skinsList">
        <img *ngIf="skinItem == skin.skin_id"
             src="{{skin.skin_img}}"
             class="img-buddy">
      </div>
      <div class="img-gif-face">
        <img src="assets/buddy/buddy-face-gif.gif">
      </div>
      <div *ngFor="let acc of accessoriesList">
        <img *ngIf="collarItem == acc.acc_id"
             src="{{acc.acc_img}}"
             class="img-collar">
        <img *ngIf="glassesItem == acc.acc_id"
             src="{{acc.acc_img}}"
             class="img-glasses">
        <img *ngIf="hatsItem == acc.acc_id"
             src="{{acc.acc_img}}"
             class="img-hats">
        <img *ngIf="bowsItem == acc.acc_id"
             src="{{acc.acc_img}}"
             class="img-bows">
      </div>
    </div>

    <div *ngFor="let house of housesList">
      <img *ngIf="houseItem == house.house_id"
           src="{{house.house_img}}"
           class="img-house">
    </div>

    <div *ngFor="let toy of toysList">
      <div *ngIf="toysLeftItem == toy.toy_id">
        <img src="assets/shadow.png" class="img-shadow-toy-left">
        <img src="{{toy.toy_img}}"
             class="img-toy-left">
      </div>
      <div *ngIf="toysMiddleItem == toy.toy_id">
        <img src="assets/shadow.png" class="img-shadow-toy-middle">
        <img src="{{toy.toy_img}}"
             class="img-toy-middle">
      </div>
      <div *ngIf="toysRightItem == toy.toy_id">
        <img src="assets/shadow.png" class="img-shadow-toy-right">
        <img src="{{toy.toy_img}}"
             class="img-toy-right">
      </div>
    </div>
  </ion-col>
<!--  <ion-grid>-->
<!--    <ion-row>-->
<!--      <ion-col size="9" size-lg>-->
<!--        <ion-card>-->
<!--          <ion-card-header>-->
<!--            <ion-card-title class="ion-text-uppercase">Hello, {{displayName}}.</ion-card-title>-->
<!--          </ion-card-header>-->
<!--          <ion-card-content>-->
<!--            <ion-card-subtitle>-->
<!--              Buddy was waiting for you, let’s tell him how was your day!-->
<!--            </ion-card-subtitle>-->
<!--          </ion-card-content>-->
<!--        </ion-card>-->
<!--      </ion-col>-->

<!--      <ion-col size="auto" class="ion-justify-content-end">-->
<!--        <ion-button (click)="GoToBadgesPage()">-->
<!--          Badge-->
<!--        </ion-button>-->
<!--      </ion-col>-->
<!--    </ion-row>-->

<!--    <ion-row>-->
<!--      <ion-col size="auto" *ngFor="let mood of Mood">-->
<!--        <ion-button style="font-size: 10px;"-->
<!--                    (click)="GoToAddMoodPage()">{{mood.moodName}}</ion-button>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->

<!--  <div *ngFor="let skin of skinsList">-->
<!--    <img *ngIf="skinItem == skin.skin_id" src="{{skin.skin_img}}">-->
<!--  </div>-->

<!--  <div *ngFor="let house of housesList">-->
<!--    <img *ngIf="houseItem == house.house_id" src="{{house.house_img}}">-->
<!--  </div>-->
</ion-content>
