<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="outline">
        Lv. {{levels}}
      </ion-button>
      <ion-title size="small">{{points}}</ion-title>
    </ion-buttons>
    <div class="ion-text-center">
      <ion-title size="small">{{dayName}}</ion-title>
      <ion-title size="small">{{currentDate | date: 'dd MMMM yyy'}}</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button color="danger" fill="outline">
        {{coins}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9" size-lg>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-uppercase">Hello, {{displayName}}.</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-subtitle>
              Buddy was waiting for you, let’s tell him how was your day!
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="auto" class="ion-justify-content-end">
        <ion-button (click)="GoToBadgesPage()">
          Badge
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="auto" *ngFor="let mood of Mood">
        <ion-button style="font-size: 10px;"
                    (click)="GoToAddMoodPage()">{{mood.moodName}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let skin of skinsList">
    <img *ngIf="skinItem == skin.skin_id" src="{{skin.skin_img}}">
  </div>

  <div *ngFor="let house of housesList">
    <img *ngIf="houseItem == house.house_id" src="{{house.house_img}}">
  </div>
</ion-content>
