<ion-header>
  <ion-toolbar>
    <ion-title>Mood Check-In</ion-title>
    <ion-buttons>
      <ion-back-button mode="md" defaultHref = "/dashboard/tabs/landing-page"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  Calendar -->
<!--  <calendar-->
<!--    [calendarMode]="calendar.mode"-->
<!--    [currentDate]="calendar.currentDate"-->
<!--    (onTitleChanged)="onViewTitleChanged($event)"-->
<!--    (onTimeSelected)="onTimeSelected($event)"-->
<!--    lockSwipes="true"-->
<!--  >-->
<!--  </calendar>-->

  <!-- Move back one screen of the slides -->
  <ion-row>
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8" class="ion-text-center">
      <h2>{{ viewTitle }}</h2>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            step="30"
            [monthviewDisplayEventTemplate]="template">
  </calendar>

  <ng-template #template let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
  </ng-template>

  <ion-row>
    <!-- Input Date -->
<!--    <ion-card>-->
<!--      <ion-input-->
<!--        [(ngModel)]="addMood.date"-->
<!--        value="{{ date | date: 'MMMM dd, YYY' }}"-->
<!--        id="date"-->
<!--        class="ion-text-start"-->
<!--        #dates = "ngModel"-->
<!--        required-->
<!--      ></ion-input>-->
<!--      <ion-popover-->
<!--        trigger="date"-->
<!--        side="start"-->
<!--        alignment="end"-->
<!--        size="auto">-->
<!--        <ng-template>-->
<!--          <ion-datetime-->
<!--            presentation="date"-->
<!--            [(ngModel)]="date"-->
<!--            [max]="maxDate"-->
<!--            locale="en-US"-->
<!--          ></ion-datetime>-->
<!--        </ng-template>-->
<!--      </ion-popover>-->
<!--      <ion-item lines="none" *ngIf="!dates.valid && dates.touched">-->
<!--        <ion-note color="danger">Please select date</ion-note>-->
<!--      </ion-item>-->
<!--    </ion-card>-->

    <!-- Current Mood -->
    <ion-card>
      <ion-label>How's your feeling?</ion-label>
      <br>
      <ion-radio-group
        [(ngModel)]="addMood.currentMood"
        #mood = "ngModel"
        required>
        <ion-item *ngFor="let mood of Mood">
          <ion-label>{{mood.moodName}}</ion-label>
          <ion-radio value="{{mood.moodName}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item lines="none" *ngIf="!mood.valid && mood.touched">
        <ion-note color="danger">Please select your mood</ion-note>
      </ion-item>
    </ion-card>

    <!-- Current Feeling -->
    <ion-card>
      <ion-label>Which words can describe your feelings?</ion-label>
      <br>
      <ion-select
        [(ngModel)]="addMood.currentFeeling"
        multiple="true"
        #feeling = "ngModel"
        required>
        <ion-item *ngFor="let feelings of Feelings">
          <ion-select-option value="{{feelings.feelingName}}">{{feelings.feelingName}}</ion-select-option>
        </ion-item>
      </ion-select>
      <ion-item lines="none" *ngIf="!feeling.valid && feeling.touched">
        <ion-note color="danger">Please select your feelings</ion-note>
      </ion-item>
    </ion-card>

    <!-- Activities -->
    <ion-card>
      <ion-label>What’s going on, what’s making you feel this way?</ion-label>
      <br>
      <ion-select
        [(ngModel)]="addMood.activities"
        multiple="true"
        #activities = "ngModel"
        required>
        <ion-item *ngFor="let activities of Activities">
          <ion-select-option value="{{activities.activityName}}">{{activities.activityName}}</ion-select-option>
        </ion-item>
      </ion-select>
      <ion-item lines="none" *ngIf="!activities.valid && activities.touched">
        <ion-note color="danger">Please select your activities</ion-note>
      </ion-item>
    </ion-card>

    <!-- Notes -->
    <ion-col size="12">
      <ion-item>
        <ion-input
          [(ngModel)]="addMood.notes"
          placeholder="Notes"
          #notes = "ngModel"
          required></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="!notes.valid && notes.touched">
        <ion-note color="danger">Please write your notes</ion-note>
      </ion-item>
    </ion-col>

    <!--Submit Button -->
    <ion-col size="10" offset="1">
      <ion-button expand="block"
                  color="success"
                  [disabled]="!mood.valid || !feeling.valid || !activities.valid || !notes.valid"
                  (click)="AddMood(
                  addMood.currentMood,
                  addMood.currentFeeling,
                  addMood.activities,
                  addMood.notes); SumMoodCount()">Add</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
