<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-card class="card-level">
        <ion-text style="font-size: 10px;">Lv </ion-text>
        <ion-text style="font-size: 28px;">{{levels}}</ion-text>
      </ion-card>
    </ion-buttons>
    <!--      <ion-progress-bar mode="determinate">{{points}}</ion-progress-bar>-->
    <ion-card class="ion-text-center card-date">
      <ion-title size="small">{{dayName}}</ion-title>
      <ion-title size="small">{{currentDate | date: 'dd MMMM yyy'}}</ion-title>
    </ion-card>
    <ion-buttons slot="end">
      <ion-card class="card-coin">
        <img src="assets/icon/coin.svg" class="img-coin">
        <ion-text class="text-coin">{{coins}}</ion-text>
      </ion-card>
    </ion-buttons>
  </ion-toolbar>

  <ion-row style="padding-top: 110px">
    <ion-card class="card-greeting">
      <ion-card-title class="ion-text-capitalize card-title">Pet Shop</ion-card-title>
      <ion-card-subtitle>
        Get the things that might Buddy likes!
      </ion-card-subtitle>
    </ion-card>
  </ion-row>

<ion-grid>
  <ion-row>
    <ion-card class="card-shop-title">
      <ion-card-title class="text-shop-title">Accessories</ion-card-title>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let acc of accList" size="4">
      <ion-card class="card-shop-img">
        <img src="{{acc.acc_img}}" class="img-shop">
      </ion-card>
      <ion-text class="card-shop-text">{{acc.acc_name}}</ion-text>

      <ion-button *ngIf="acc.acc_level > levels"
                  [disabled]="acc.acc_level > levels"
                  class="button-shop">
        <img src="assets/icon/lock-closed-outline.svg" class="img-shop-locked">
        <ion-text>Lv. {{acc.acc_level}}</ion-text>
      </ion-button>

      <ion-button *ngIf="acc.acc_level <= levels && acc.acc_price > 0 && acc.users.acc_apply == false && acc.users.acc_buy == false"
                  (click)="BuyAccesory(acc.acc_id,acc.acc_name,acc.acc_price, acc.acc_exp)"
                  class="button-shop">
        <img src="assets/icon/coin.svg" class="img-shop-coin">
        <ion-text>{{acc.acc_price}}</ion-text>
      </ion-button>

      <ion-button *ngIf="acc.acc_level <= levels && acc.users.acc_apply == false && acc.users.acc_buy== true"
                  (click)="ApplyAccessory(acc.acc_id)"
                  class="button-shop">
        <ion-text>Apply</ion-text>
      </ion-button>

      <ion-button *ngIf="acc.acc_level <= levels && acc.acc_id.split('_')[1] !== 'collar' && acc.users.acc_apply == true && acc.users.acc_buy == true"
                  (click)="RemoveAccessory(acc.acc_id)"
                  class="button-remove">
        <ion-text>Remove</ion-text>
      </ion-button>

      <ion-button *ngIf="acc.acc_level <= levels && acc.acc_id.split('_')[1] == 'collar' && acc.users.acc_apply == true && acc.users.acc_buy == true"
                  [disabled]="acc.users.acc_apply == true && acc.users.acc_buy == true"
                  class="button-shop">
        <ion-text>Applied</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-card class="card-shop-title">
      <ion-card-title class="text-shop-title">Skins</ion-card-title>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let skin of skinsList" size="4">
        <ion-card class="card-shop-img">
          <img src="{{skin.skin_img}}" class="img-shop">
        </ion-card>
        <ion-text class="card-shop-text">{{skin.skin_name}}</ion-text>

      <ion-button *ngIf="skin.skin_level > levels"
                  [disabled]="skin.skin_level > levels"
                  class="button-shop">
        <img src="assets/icon/lock-closed-outline.svg" class="img-shop-locked">
        <ion-text>Lv. {{skin.skin_level}}</ion-text>
      </ion-button>

      <ion-button *ngIf="skin.skin_level <= levels && skin.skin_price > 0 && skin.users.skin_apply == false && skin.users.skin_buy == false"
                  (click)="BuySkin(skin.skin_id,skin.skin_name,skin.skin_price, skin.skin_exp)"
                  class="button-shop">
        <img src="assets/icon/coin.svg" class="img-shop-coin">
        <ion-text>{{skin.skin_price}}</ion-text>
      </ion-button>

      <ion-button *ngIf="skin.skin_level <= levels && skin.users.skin_apply == false && skin.users.skin_buy== true"
                  (click)="ApplySkin(skin.skin_id)"
                  class="button-shop">
        <ion-text>Apply</ion-text>
      </ion-button>

      <ion-button *ngIf="skin.skin_level <= levels && skin.users.skin_apply == true && skin.users.skin_buy == true"
                  [disabled]=" skin.users.skin_apply == true && skin.users.skin_buy == true"
                  class="button-shop">
        <ion-text>Applied</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-card class="card-shop-title">
      <ion-card-title class="text-shop-title">Houses</ion-card-title>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let house of housesList" size="4">
      <ion-card class="card-shop-img">
        <img src="{{house.house_img}}" class="img-shop">
      </ion-card>
      <ion-text class="card-shop-text">{{house.house_name}}</ion-text>

      <ion-button *ngIf="house.house_level > levels"
                  [disabled]="house.house_level > levels"
                  class="button-shop">
        <img src="assets/icon/lock-closed-outline.svg" class="img-shop-locked">
        <ion-text>Lv. {{house.house_level}}</ion-text>
      </ion-button>

      <ion-button *ngIf="house.house_level <= levels && house.house_price > 0 && house.users.house_apply == false && house.users.house_buy == false"
                  (click)="BuyHouse(house.house_id,house.house_name,house.house_price, house.house_exp)"
                  class="button-shop">
        <img src="assets/icon/coin.svg" class="img-shop-coin">
        <ion-text>{{house.house_price}}</ion-text>
      </ion-button>

      <ion-button *ngIf="house.house_level <= levels && house.users.house_apply == false && house.users.house_buy== true"
                  (click)="ApplyHouse(house.house_id)"
                  class="button-shop">
        <ion-text>Apply</ion-text>
      </ion-button>

      <ion-button *ngIf="house.house_level <= levels && house.users.house_apply == true && house.users.house_buy == true"
                  [disabled]="house.users.house_apply == true && house.users.house_buy == true"
                  class="button-shop">
        <ion-text>Applied</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-card class="card-shop-title">
      <ion-card-title class="text-shop-title">Toys</ion-card-title>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let toy of toysList" size="4">
      <ion-card class="card-shop-img">
        <img src="{{toy.toy_img}}" class="img-shop">
      </ion-card>
      <ion-text class="card-shop-text">{{toy.toy_name}}</ion-text>

      <ion-button *ngIf="toy.toy_level > levels"
                  [disabled]="toy.toy_level > levels"
                  class="button-shop">
        <img src="assets/icon/lock-closed-outline.svg" class="img-shop-locked">
        <ion-text>Lv. {{toy.toy_level}}</ion-text>
      </ion-button>

      <ion-button *ngIf="toy.toy_level <= levels && toy.toy_price > 0 && toy.users.toy_apply == false && toy.users.toy_buy == false"
                  (click)="BuyToy(toy.toy_id,toy.toy_name,toy.toy_price, toy.toy_exp)"
                  class="button-shop">
        <img src="assets/icon/coin.svg" class="img-shop-coin">
        <ion-text>{{toy.toy_price}}</ion-text>
      </ion-button>

      <ion-button *ngIf="toy.toy_level <= levels && toy.users.toy_apply == false && toy.users.toy_buy== true"
                  (click)="ApplyToy(toy.toy_id)"
                  class="button-shop">
        <ion-text>Apply</ion-text>
      </ion-button>

      <ion-button *ngIf="toy.toy_level <= levels && toy.users.toy_apply == true && toy.users.toy_buy == true"
                  [disabled]="toy.users.toy_apply == true && toy.users.toy_buy == true"
                  class="button-shop">
        <ion-text>Applied</ion-text>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid> <br><br><br>
</ion-content>
