<ion-content>
  <ion-toolbar>
    <ion-title class="title ion-text-center">Edit Mood Check-In</ion-title>
  </ion-toolbar>
<!-- Calendar -->
  <!-- Move back one screen of the slides -->
<!--  <ion-row>-->
<!--    <ion-col size="2">-->
<!--      <ion-button fill="clear" (click)="back()">-->
<!--        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-col>-->

<!--    <ion-col size="8" class="ion-text-center">-->
<!--      <h2>{{ viewTitle }}</h2>-->
<!--    </ion-col>-->

<!--    &lt;!&ndash; Move forward one screen of the slides &ndash;&gt;-->
<!--    <ion-col size="2">-->
<!--      <ion-button fill="clear" (click)="next()">-->
<!--        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-col>-->
<!--  </ion-row>-->

<!--  <calendar-->
<!--    [eventSource]="eventSource"-->
<!--    [calendarMode]="calendar.mode"-->
<!--    [currentDate]="calendar.currentDate"-->
<!--    (onCurrentDateChanged)="onCurrentDateChanged($event)"-->
<!--    (onEventSelected)="onEventSelected($event)"-->
<!--    (onTitleChanged)="onViewTitleChanged($event)"-->
<!--    (onTimeSelected)="onTimeSelected($event)"-->
<!--    step="30"-->
<!--  >-->
<!--  </calendar>-->

  <ion-row>
    <!-- Input Date -->
    <div class="card-date">
      <ion-datetime [(ngModel)]="date"
                    [max]="maxDate"
                    displayFormat="DD/MM/YYYY HH:mm"
                    pickerFormat="MMM D HH:mm"
                    locale="en-US"
                    color="rose"></ion-datetime>
    </div>
  </ion-row>
<!--    <ion-card>-->
<!--      <ion-input-->
<!--        [(ngModel)]="date"-->
<!--        value="{{ dateValue | date: 'MMMM dd, YYY' }}"-->
<!--        id="date"-->
<!--        class="ion-text-start"-->
<!--      ></ion-input>-->
<!--      <ion-popover-->
<!--        trigger="date"-->
<!--        side="start"-->
<!--        alignment="end"-->
<!--        size="auto">-->
<!--        <ng-template>-->
<!--          <ion-datetime-->
<!--            presentation="date"-->
<!--            [(ngModel)]="dateValue"-->
<!--            [max]="maxDate"-->
<!--            locale="en-US"-->
<!--          ></ion-datetime>-->
<!--        </ng-template>-->
<!--      </ion-popover>-->
<!--    </ion-card>-->

  <ion-row>
    <!-- Current Mood -->
    <ion-card>
      <ion-label class="label-input">How's your feeling?</ion-label>
      <br>
      <ion-row>
        <ion-col *ngFor="let moods of Mood">
          <div class="mood-selector">
            <input [(ngModel)]="currentMood"
                   id="{{moods.moodName}}"
                   type="radio"
                   name="mood"
                   value="{{moods.moodName}}" />
            <label class="drinkcard-cc {{moods.moodName}}" for="{{moods.moodName}}"></label>
            <ion-text class="label-mood">{{moods.moodName}}</ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>

<!--    <ion-card>-->
<!--      <ion-label>How's your feeling?</ion-label>-->
<!--      <br>-->
<!--      <ion-radio-group [(ngModel)]="currentMood" >-->
<!--        <ion-item *ngFor="let mood of Mood">-->
<!--          <ion-label>{{mood.moodName}}</ion-label>-->
<!--          <ion-radio value="{{mood.moodName}}"></ion-radio>-->
<!--        </ion-item>-->
<!--      </ion-radio-group>-->
<!--    </ion-card>-->

    <!-- Current Feeling -->
    <ion-card>
      <ion-label class="label-input">Which words can describe your feelings?</ion-label>
      <br>
      <ion-row>
        <ion-col *ngFor="let feelings of Feelings">
          <div class="cat {{feelings.feelingName}}">
            <label>
              <input [(ngModel)]="feelings.isChecked"
                     type="checkbox"
                     multiple="true"
                     value="{{feelings.feelingName}}"
                     required>
              <span>{{feelings.feelingName}}</span>
            </label>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>

<!--    <ion-card>-->
<!--      <ion-label>Which words can describe your feelings?</ion-label>-->
<!--      <br>-->
<!--      <ion-select multiple="true" [(ngModel)]="currentFeeling">-->
<!--        <ion-item *ngFor="let feelings of Feelings">-->
<!--          <ion-select-option value="{{feelings.feelingName}}">{{feelings.feelingName}}</ion-select-option>-->
<!--        </ion-item>-->
<!--      </ion-select>-->
<!--    </ion-card>-->

    <!-- Activities -->
    <ion-card>
      <ion-label class="label-input">What’s going on, what’s making you feel this way?</ion-label>
      <br>
      <ion-row style="padding-top: 10px">
        <ion-col size="3" *ngFor="let activities of Activities">
          <input [(ngModel)]="activities.isChecked"
                 type="checkbox"
                 class="input-activity"
                 multiple="true"
                 value="{{activities.activityName}}"
                 id="activities{{activities.activitiesID}}"
                 required>
          <label class="label-activity" for="activities{{activities.activitiesID}}">
            <img class="img-activity" src="{{activities.activityImg}}">
            <span>{{activities.activityName}}</span>
          </label>
        </ion-col>
      </ion-row>
    </ion-card>

<!--    <ion-card>-->
<!--      <ion-label>What’s going on, what’s making you feel this way?</ion-label>-->
<!--      <br>-->
<!--      <ion-select multiple="true" [(ngModel)]="activities">-->
<!--        <ion-item *ngFor="let activities of Activities">-->
<!--          <ion-select-option value="{{activities.activityName}}">{{activities.activityName}}</ion-select-option>-->
<!--        </ion-item>-->
<!--      </ion-select>-->
<!--    </ion-card>-->

    <!-- Notes -->
    <ion-card>
      <ion-label class="label-input">Let’s write a note about your feelings</ion-label>
      <ion-textarea
        [(ngModel)]="notes"
        placeholder="Start writing..."
        type="text"
        required></ion-textarea>
    </ion-card>

<!--    <ion-col size="12">-->
<!--      <ion-item>-->
<!--        <ion-input [(ngModel)]="notes" placeholder="Notes"></ion-input>-->
<!--      </ion-item>-->
<!--    </ion-col>-->

      <!--Submit Button -->
      <ion-col size="6">
        <ion-button color="success"
                    expand="block"
                    (click)="UpdateMood(date, currentMood, currentFeeling, activities, notes)">Update</ion-button>
      </ion-col>

      <!-- Close Button -->
      <ion-col size="6">
        <ion-button color="danger"
                    expand="block"
                    (click)="CloseModal()">Cancel</ion-button>
      </ion-col>
    </ion-row>
</ion-content>
