<ion-header>
  <ion-toolbar>
    <ion-title>edit-mood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Calendar -->
  <!-- Move back one screen of the slides -->
<!--  <ion-row>-->
<!--    <ion-col size="2">-->
<!--      <ion-button fill="clear" (click)="back()">-->
<!--        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-col>-->

<!--    <ion-col size="8" class="ion-text-center">-->
<!--      <h2>{{ viewTitle }}</h2>-->
<!--    </ion-col>-->

<!--    &lt;!&ndash; Move forward one screen of the slides &ndash;&gt;-->
<!--    <ion-col size="2">-->
<!--      <ion-button fill="clear" (click)="next()">-->
<!--        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>-->
<!--      </ion-button>-->
<!--    </ion-col>-->
<!--  </ion-row>-->

<!--  <calendar-->
<!--    [eventSource]="eventSource"-->
<!--    [calendarMode]="calendar.mode"-->
<!--    [currentDate]="calendar.currentDate"-->
<!--    (onCurrentDateChanged)="onCurrentDateChanged($event)"-->
<!--    (onEventSelected)="onEventSelected($event)"-->
<!--    (onTitleChanged)="onViewTitleChanged($event)"-->
<!--    (onTimeSelected)="onTimeSelected($event)"-->
<!--    step="30"-->
<!--  >-->
<!--  </calendar>-->

  <ion-row>
    <!-- Input Date -->
    <ion-card>
      <ion-item>
        <ion-label><b>Date</b></ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm"
                      pickerFormat="MMM D HH:mm"
                      [(ngModel)]="date"
                      [max]="maxDate"></ion-datetime>
      </ion-item>
    </ion-card>
<!--    <ion-card>-->
<!--      <ion-input-->
<!--        [(ngModel)]="date"-->
<!--        value="{{ dateValue | date: 'MMMM dd, YYY' }}"-->
<!--        id="date"-->
<!--        class="ion-text-start"-->
<!--      ></ion-input>-->
<!--      <ion-popover-->
<!--        trigger="date"-->
<!--        side="start"-->
<!--        alignment="end"-->
<!--        size="auto">-->
<!--        <ng-template>-->
<!--          <ion-datetime-->
<!--            presentation="date"-->
<!--            [(ngModel)]="dateValue"-->
<!--            [max]="maxDate"-->
<!--            locale="en-US"-->
<!--          ></ion-datetime>-->
<!--        </ng-template>-->
<!--      </ion-popover>-->
<!--    </ion-card>-->

    <!-- Current Mood -->
    <ion-card>
      <ion-label>How's your feeling?</ion-label>
      <br>
      <ion-radio-group [(ngModel)]="currentMood" >
        <ion-item *ngFor="let mood of Mood">
          <ion-label>{{mood.moodName}}</ion-label>
          <ion-radio value="{{mood.moodName}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card>

    <!-- Current Feeling -->
    <ion-card>
      <ion-label>Which words can describe your feelings?</ion-label>
      <br>
      <ion-select multiple="true" [(ngModel)]="currentFeeling">
        <ion-item *ngFor="let feelings of Feelings">
          <ion-select-option value="{{feelings.feelingName}}">{{feelings.feelingName}}</ion-select-option>
        </ion-item>
      </ion-select>
    </ion-card>

    <!-- Activities -->
    <ion-card>
      <ion-label>What’s going on, what’s making you feel this way?</ion-label>
      <br>
      <ion-select multiple="true" [(ngModel)]="activities">
        <ion-item *ngFor="let activities of Activities">
          <ion-select-option value="{{activities.activityName}}">{{activities.activityName}}</ion-select-option>
        </ion-item>
      </ion-select>
    </ion-card>

    <!-- Notes -->
    <ion-col size="12">
      <ion-item>
        <ion-input [(ngModel)]="notes" placeholder="Notes"></ion-input>
      </ion-item>
    </ion-col>

    <!-- Close Button   -->
    <ion-button expand="block" color="danger" (click)="CloseModal()">Cancel</ion-button>

    <!--Submit Button -->
    <ion-button expand="block"
                color="success"
                (click)="UpdateMood(
                date, currentMood, currentFeeling, activities, notes)">Update</ion-button>
  </ion-row>

</ion-content>
